{
  "extends": "airbnb",
  "env": {
      "browser": true,
      "node": true,
      "mocha": true
    },
  "rules": {
      "padded-blocks": 0,
      "import/no-extraneous-dependencies": 0,
      "class-methods-use-this": 0
    }
}
